*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}
/* ==========================================First Page============================================== */
.birthday{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items:center;
    position:relative;
    background-color:#1F1F58;
    font-weight: bold;
    color:white;
}
.design{
    position: absolute;
    text-align: center;
    top:20px;
}
.circle1{
    width: 40%;
    height:55%;
    border-radius: 50%;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.circle2{
    width: 95%;
    height:95%;
    border-radius: 50%;
    border:3px dashed black;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black
}
.ballon1{
    position:absolute;
    width:10%;
    left:0;
    top:0;
}
.ballon1 img, .ballon2 img{
    width:100%;
    background-color: black;
    border-radius: 50%;
    background-color:#1F1F58; 
}
.ballon2{
    position:absolute;
    width:10%;
    right:0;
    top:0;
}
.row{
    width:65%;
    margin:0 auto;
    /* border: 20px solid orange; */
}
/* .fa-solid{
    font-size: 200px;
    color:yellow;
} */
.box{
    width:30%;
    height:15%;
    border-radius: 20px;
    border:5px solid white;
    background-color: #D91DC0;
    position: absolute;
    bottom:17%;
    right:34%;
    transform: rotate(-5deg);
    display:flex;
    justify-content: center;
    align-items: center;
}

/* ===============================================Second Page============================================ */

.user_details{
    justify-content: center;
    align-items: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.user_details form{
    width:30%;
    height:70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    gap:20px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
}
/* .name{
    
} */
.name, .phone_number{
    font-size: 14px;
    padding:5px;
}
/* ==========================================================================Third_page================================================================== */
.birthday_wishing{
    justify-content: center;
    align-items: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(200,0,200); /* Fallback color */
    background-color: rgba(100,0,100,0.4); /* Black w/ opacity */
    
}
.birthday_wishing .wrapper{
    width: 50%;
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;

    background-color: #fefefe;
    position:relative;
    /* padding: 20px; */
    background-color: gray;
}
.birthday_wishing .wrapper .search{
    width:80%;
    height:30%;
    outline:none;
    text-align: top;
    border:none;
}
.birthday_wishing .wrapper .search{
    font-size: 20px;
    width:100%;
    font-weight: bold;
    outline:none;
    color:white;
    text-align: center;
    background-color: black;
}
.birthday_wishing .wrapper .submit{
    width:15%;
    height:20%;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: #1F1F58;
    border-radius: 15px;
    border:none;
    align-self: flex-end;
}
/* ===============================================================Would you like to play richard's game===================================================
 */
.would_u_bgcontainer{
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1);
}
.would_u_bgcontainer .would_u_bg{
    width:50%;
    height:20%;
    background-color:#888;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    font-size: 25px;
    color:white;
    font-weight: bold;
}
.would_u_like_to_play-Yes{
    position:absolute;
    bottom: 10px;
    right:30px;
    background-color: red;
    padding:10px;
    border-radius: 5px;
}
.would_u_like_to_play-No{
    position:absolute;
    bottom: 10px;
    left:30px;
    background-color: pink;
    padding:10px;
    border-radius: 5px;
}
/* ===============================================================Richard's game===================================================*/
.game_bgcontainer{
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
}
.question_board, .question_board2{
    width:40%;
    height: 30%;
    background-color: white;
    display:flex;
    justify-content: center;
    position: relative;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    padding:25px 25px 0 25px;
}
.correctAns1{
    position:absolute;
    bottom:20px;
    right:20%;
    background-color: red;
    padding:10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
.wrongAns1{
    position:absolute;
    bottom:20px;
    left:20%;
    padding:10px 20px;
    background-color: pink;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    color:black;
}

.game_bgcontainer2{
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
}
.question_board2{
    width:50%;
    height: 40%;
    background-color: white;
    display:flex;
    justify-content: center;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    padding:25px 25px 0 25px;
}

.correctAns1_2{
    position:absolute;
    bottom:20px;
    right:4%;
    background-color: red;
    padding:10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 16px;
}
.wrongAns1_2{
    position:absolute;
    bottom:20px;
    right:52%;
    background-color: red;
    padding:10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 16px;
}



.game_bgcontainer3{
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
}
.question_board3{
    width:50%;
    height: 40%;
    background-color: white;
    display:flex;
    justify-content: center;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    padding:25px 25px 0 25px;
}

.correctAns1_3{
    position:absolute;
    bottom:20px;
    right:60%;
    background-color: red;
    padding:10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 16px;
}
.wrongAns1_3{
    position:absolute;
    bottom:20px;
    right:20%;
    background-color: red;
    padding:10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 16px;
}

